.header-parts {
  width: min(100vw, 680px);
  margin-top: 20vw;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background: linear-gradient(90deg,rgba(237, 125, 49, 0.8), rgba(0,0,0,0.8));
}

.header-parts-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.header-parts-top img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
}

.header-parts-title {
  color: #fff;
  font-size: 10vw;
  font-family: "Karantina", cursive;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.8);
}

.header-parts-subtitle {
  text-align: center;
  padding: 0 1.5rem 1rem;
  color: #fff;
  font-size: 1.45rem;
  font-family: "Karantina", cursive;
}